---
import vue from '../icons/vueJS.astro'
import tail from '../icons/tail.astro'
const TAGS = {
    VUE: {
        name: "vue.js",
        class: "bg-[#091221] text-white",
        icon: vue
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: tail
    }
}

const PROJECTS = [
    {
        title: 'Project 1',
        description: 'Este proyecto es un panel de control para administrar cierta informacion de la empresa y asi automatizar ciertas tareas manuales del departamento.',
        link: '#',
        github: '#',
        image: '/projects/img1.webp',
        tags: [TAGS.VUE, TAGS.TAILWIND]
    }
]
---

{
    PROJECTS.map(({title, description, tags, image}) =>(
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-4 flex-row mb-3">
                {tags.map(tag =>(
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4"/>
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de Pantalla del proyecto ${image}`}>
        </article>
    ))
}