---
const PROJECTS = [
    {
        title: 'Project 1',
        description: 'Este proyecto es un panel de control para administrar cierta informacion de la empresa y asi automatizar ciertas tareas manuales del departamento.',
        link: '#',
        github: '#',
        image: '/projects/img1.webp',
        tags: ['HTML', 'CSS', 'JavaScript']
    }
]
---

{
    PROJECTS.map(({title, description, tags, image}) =>(
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul>
                {tags.map(tag =>(
                    <li>{tag}</li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura de Pantalla del proyecto ${image}`}>
        </article>
    ))
}